body {
  font-family: Arial, sans-serif;
  background: #f0fff0;
  color: #333;
  margin: 0;
}

header {
  background: #2e8b57;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a.btn, 
button.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 1.5rem;
  background: linear-gradient(145deg, #9b1c31, #751227);
  border: none;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* quita el subrayado */
  transition: transform 0.2s, box-shadow 0.3s;
}

a.btn:hover,
button.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(155,28,49,0.5);
}
